.container {
    display: flex;
    background-color: #1B1B1B;
    height: 70px;
    padding: 0 10% 0 10%;
}

.rejay45logo {
    width: auto;
    height: 100%;
}

.links {
    color: red;
}