.container {
    display: flex;
    background-color: #1B1B1B;
    height: 70px;
    padding: 0 10% 0 10%;
}

.rejay45logo {
    width: auto;
    height: 100%;
}

.menubars {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container1 {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.links {
    display: flex;
    border: 1px solid red;
    color: red;
    justify-content: space-around;
}